{{#>adminLayout}}
  {{#*inline "adminHeader"}}
    {{>adminHeader}}
  {{/inline}}
  {{#*inline "allContent"}}
    <div id="all">
      <!-- *** CONTENT ***
      _________________________________________________________
      _________________________________________________________
      -->
      <div id="advantages">
        {{>adminChangePassword_content}}
      </div>
    </div>
    <!-- /#all -->
  {{/inline}}
  {{#*inline "adminJsRef"}}
    {{>adminJsRef}}
    <script src="js/admin/adminChangePwd.js"></script>
  {{/inline}}
{{/adminLayout}}

