{{#>adminLayout}}
  {{#*inline "adminHeader"}}
    {{>adminHeader}}
  {{/inline}}
  {{#*inline "adminNavbar"}}

  {{/inline}}
  {{#*inline "allContent"}}
    <div id="all">
      <!-- *** CONTENT ***
      _________________________________________________________
      _________________________________________________________
      -->
      <div id="advantages">
        {{>adminLogin_content}}
      </div>
    </div>
    <!-- /#all -->
  {{/inline}}
  {{#*inline "adminJsRef"}}
    {{>adminJsRef}}
  {{/inline}}
{{/adminLayout}}

