<div class="container">

  <div class="col-sm-6 col-sm-offset-3" id="error-page">

    <div class="box">

      <h3>We are sorry - there is an internal server error</h3>
      <h4 class="text-muted">Error 500 - Internal Server Error</h4>
      <h5>{{message}}</h5>
      {{!-- <p class="text-center">To continue please use the <strong>Search form</strong> above.</p> --}}

      <p class="buttons"><a href="" class="btn btn-primary"><i class="fa fa-home"></i> Go to Homepage</a>
      </p>
    </div>


  </div>
  <!-- /.col-sm-6 -->
</div>
<!-- /.container -->
