<!-- *** COPYRIGHT ***
_________________________________________________________ -->

<div id="copyright">
  <div class="container">
    <div class="col-md-12">
      <p class="pull-left" style="font-family:Montserrat,Helvetica,Arial,sans-serif; font-size: 14px; font-weight: bold ">{{t "copyright.copyright"}}</p>
    </div>
  </div>
</div>
<!-- /#copyright -->

<!-- *** COPYRIGHT END *** -->
