{
  "env": {
    "node": true
  },
  "extends": "airbnb",
  "parserOptions": {
    "ecmaVersion": 8
  },
  "rules": {
    "max-len": [2, {"code": 180, "tabWidth": 4, "ignoreUrls": true}],
    "semi": ["error", "never"]
  }
}
