{{#>coreLayout}}
  {{#*inline "allContent"}}
    <div id="all">
      <div id="content">
        {{>(errTemplate)}}
      </div>
      <!-- /#content -->
    </div>
    <!-- /#all -->
  {{/inline}}
{{/coreLayout}}
