{{#>coreLayout}}
  {{#*inline "allContent"}}
    <div id="all">
      <div id="content">
        <div class="container">
          <h3 class="text-center">{{t "forgotPwd.subTitle"}}</h3>
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
              <div class="box">
                <p class="text-muted bg-warning" style="padding: 15px;">
                  {{t "forgotPwd.tip"}}
                </p>
                <br>
                <div class="row">
                  <form id="forgotPwdForm" class="col-sm-8 col-sm-offset-2" novalidate="novalidate">
                    <input type="hidden" name="source" value="3"/>
                    <div class="form-horizontal">
                      <div class="form-group">
                        <label for="forgotPwdEmail" class="col-sm-2 control-label">{{t "forgotPwd.email"}} :</label>
                        <div class="col-sm-10">
                          <input
                            class="form-control"
                            type="email"
                            required
                            name="userEmail"
                            id="forgotPwdEmail"
                            maxlength="50">
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="text-center">
                      <button type="submit" class="btn btn-primary" id="sendPwdResetEmail">{{t
                        "forgotPwd.continue"}}</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{>footer}}
    {{>copyright}}
  {{/inline}}
  {{#*inline "jsRef"}}
    {{>jsRef}}
    <script>
      (function ($) {
        $('#forgotPwdForm').submit(function (e) {
          e.preventDefault()
        })
        $('#forgotPwdForm').validate({
          submitHandler: function (form) {
            $.ajax({
              url: '/group-buying/forgot-password',
              type: 'POST',
              contentType: 'application/json',
              data: JSON.stringify($(form).serializeFormJSON()),
              success: function (json) {
                if (json.success) {
                  window.location.href = "/group-buying/forgot-password/success?email=" + $('#forgotPwdEmail').val()
                } else {
                  okchem.showError($.i18nMs.forgotPwd[json.msgCode] || $.i18nMs.forgotPwd.defaultErr)
                }
              },
              error: function () {
                okchem.showError($.i18nMs.forgotPwd.defaultErr)
              },
            })
          },
        })
      })($)
    </script>
  {{/inline}}
{{/coreLayout}}
