{{#>coreLayout}}
  {{#*inline "header"}}
    {{>header}}
  {{/inline}}
  {{#*inline "allContent"}}
    <div id="all">
      <!-- *** CONTENT ***
      _________________________________________________________
      _________________________________________________________
      -->
      <div id="content">
          <h1>This is home page</h1>
      </div>
      {{>footer}}
      {{>copyright}}
    </div>
    <!-- /#all -->
  {{/inline}}
{{/coreLayout}}

