<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="jumbotron">
        <h2>Change Password</h2>
        <hr>
        <form action="customer-orders.html" method="post" id="adminChangePwdForm">
          <div class="form-group">
            <label for="currentPwd">*Current Password :</label>
            <input type="password" class="form-control" id="oldpwd" name="oldpwd" required minlength="6" maxlength="12">
          </div>
          <div class="form-group">
            <label for="newPwd">*New Password :</label>
            <input type="password" class="form-control" id="newpwd" name="newpwd" required minlength="6" maxlength="12">
          </div>
          <div class="form-group">
            <label for="confirmNewPwd">*Confirm New Password :</label>
            <input type="password" class="form-control" id="newpwdConfirm" name="newpwdConfirm" required minlength="6" maxlength="12">
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-info">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
